<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @genre.nombre %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @genre.descripcion %>
</p>

<%= link_to 'Editar', edit_genre_path(@genre) %> |
<%= link_to 'Volver', genres_path %>
