<!DOCTYPE html>
<html>
  <head>
    <title> <%=yield(:page_title)%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'shared/navbar'%>
  	<div class="container">
      <% if notice.present? %>
        <p id="notice" class="alert alert-success alert-dismissable"><%= notice %></p>
      <% end %>
   		<%= yield %>
    </div>
  </body>
</html>
